/Windows/lib/x64/Debug
/Windows/TestEnv
/Windows/bin/x64/Debug
/Windows/lib/x64/Release
*.user
/Windows/obj/x64/Debug
/Windows/prj/YZSceneGraph/Debug
/Windows/prj/YZSceneGraph/x64/Release
/Windows/prj/YZSceneGraph/Release
/Windows/prj/YZSqlite/x64/Release
/Windows/prj/YZSceneGraph/x64/Debug
/Windows/prj/YZTools/x64/Release
/Windows/prj/YZModelCore/x64/Release
/Windows/prj/YZModelCore/Debug
/Windows/prj/YZModelEntity/x64/Release
/Windows/prj/SceneGraphUnitTest/x64/Debug
/Windows/obj/x64/Release/YZTools
/Windows/obj/x64/Release/YZSceneGraph
/Windows/obj/x64/Release/YZSqlite
/Windows/obj/x64/Release/YZModelEntity
/Windows/obj/x64/Release/YZModelCore
/Windows/obj/x64/Release/YZLogs
/Windows/obj/x64/Release/YZAnimation
/Windows/obj/x64/Release/YZModelBLL
/Windows/lib/x64/3rdParty/OpenSceneGraph-3.2.1
/Windows/prj/SceneGraphUnitTest/Release
/Windows/prj/YZOSG.v12.suo
/Windows/prj/YZOSG.sdf
/Windows/prj/*.opensdf
